@import url(./styles/aqualine.css);
@import url(./styles/amazingservices.css);
@import url(./styles/twoimages.css);
@import url(./styles/whatwedo.css);
@import url(./styles/meetourteam.css);
@import url(./styles/someofourwork.css);
@import url(./styles/happyclients.css);
@import url(./styles/ourstories.css);
.container-fluid{
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
.container{
  width: 1100px;
  margin: 100px auto;
  box-sizing: border-box;
  padding: 0 10px;

}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.firstpart{
  height: 100vh;
  background: linear-gradient(to bottom, rgba(231, 129, 130, 0.85), rgba(241, 149, 124, 0.85), rgba(245, 171, 121, 0.85), rgba(244, 194, 125,0.85), rgba(239, 217, 137, 0.85)),
  url(./img/Layer\ 15.png) no-repeat center;
  background-size: cover;
  color: white;
  box-sizing: border-box;  
}
li, a{
  text-decoration: none;
  color: white;
}
header{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 13%;
}
.nav_links{
  list-style: none;
  display: flex;
  align-items: center;
  font-family: Montserrat;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}
header h1{
  margin-right: auto;
  font-family: Montserrat;
}
.nav_links a:hover, .nav_links a:focus, .nav_links a:active{
  text-decoration-line: underline;
  text-underline-offset: 10px;
  color: #FCE38A;
}
h3{
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  font-family: Kaushan Script;
  font-weight: 400;
}
.middletext{
  margin: auto;
  font-size: 120px;
  text-align: center;
  font-family: Montserrat;
  line-height: 80px;
  font-weight: bold;
  width: 800px;
  margin-top: 20px;
  line-height: 120px;
}
hr{
  width: 50px; 
  margin:auto;
  color: white;
  border: 1px solid white;
  margin-top: 30px;
}
.firstpart button{
  background-color: transparent;
  color: white;
  padding: 10px 25px;
  font-size: 10px;
  border: 3px solid white;
  margin-left: 708px;
  margin-top: 30px;
}
.endhr{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width:900px;
}
.nav_links li:nth-child(1) a{
color: #FCE38A;
text-decoration-line: underline;
text-underline-offset: 10px;
}
.middlehr{
  display: flex;
  justify-content: center;
}
.endhr hr{
  width: 200px;
  border: none;
  height: 2px;
  background-color: white;
  margin-top: -10px;
  margin-bottom: 15px;
}
.uniquehr{
  background: linear-gradient(to right, #F38181 30%, white 0%);
}
.endhr hr:nth-child(2){
  opacity: 0.6;
}
.endhr hr:nth-child(3){
  opacity: 0.6;
}
.endhr hr:nth-child(4){
  opacity: 0.6;
}
.commonhr{
  width: 60px;
  background: #F38181;
  height: 5px;
  border-radius: 22%;
}
.secondpartimg{
  width: 300px;
}
.container h5, h4, p{
  text-align: center;
}
.container h5, .last h5{
  font-size: 25px;
  font-family: Kaushan Script;
  font-weight: 400;
}
.container h4, .last h4{
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 900;
  margin-top: 15px;
}
.container p{
  font-size: 13px;
  font-family: Roboto;
  font-weight: 300;
  color: #999999;
  margin-top: 35px;
  margin-bottom: 75px;
}
.forimg2part{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.container-one{
  width: 900px;
  margin:  auto;
  font-family: Montserrat;
}
.endhr div:nth-child(2){
  opacity: 0.6;
}
.endhr div:nth-child(3){
  opacity: 0.6;
}
.endhr div:nth-child(4){
  opacity: 0.6;
}
.bigtext{
  width: 800px;
  margin: auto;
  line-height: 20px;
}
.mountaintext{
  position: relative;
  

}
.mountain{
  height: 100vh;
}

























