.aqualine1{
  background-color: #95E1D3;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr 300px;
  height: 200px;

  font-size: 50px;
  font-weight: bold;
  color: white;
  font-family: Montserrat;
  column-gap: 1px;
}
.to{
  grid-column: 2/3;
}

.aqualine1 p{
  font-size: 10px;
  font-weight: 100;
  opacity: 0.8;
}
.aqualine1 div{
height: 200px;
display: flex;
justify-content: center;  
align-items: center;
flex-direction: column;
}
.aqualine1 div:nth-child(1){
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.aqualine1 div:nth-child(2){
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.aqualine1 div:nth-child(3){
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.aqualine1 div:nth-child(4){
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.aqualine1 div:nth-child(5){
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}