.latestblog{
  display: flex;
  justify-content: space-between;
}
.firstimgoftheblog{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.firstimgoftheblog p{
  text-align: start;
}