.photos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 0;
}
.photos img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.item5{
  grid-column: 3/4;
  grid-row: 1/3;
}
.joshua{
  background-color: white;
  display: flex;
  margin-top: 80px;
}
.joshuat{
  margin-left: 250px;
  margin-top: 40px;
}
.joshuahr{
  margin-left: -26px;
}

